<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.google.com">
                        Black-Shot
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.google.com" target="_blank">Black-Shot</a> for a better web.
        </div>
    </div>
</footer>
