
  <div class="col-md-8" class="width:100%;">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Сервисная Книжка</h4>
        <p class="card-category">Сервисы</p>
      </div>
      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>№</th>
            <th>Наименование транспорта</th>
            <th>Код</th>
            <th>User Name</th>
            </thead>
            <tbody>
            <tr *ngFor="let service of serviceBook; let i = index; ">
              <td>{{i+1}}</td>
              <td>{{service.name}}  </td>
              <td>{{service.code}}</td>
              <td>{{service.user.lastName}} {{service.user.firstName}} {{service.user.middleName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>