.example-card {
  position: relative;
  max-width: 400px;
}
td{
  border: solid 1px #000000;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}