<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Пользователи</h4>
                    <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>№</th>
                                <th>ФИО</th>
                                <th>Логин</th>
                                <th>Номер телефона</th>
                                <th>Почта</th>
                                <th>
                                    <button (click)="openDialog()" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                                        <mat-icon>person_add</mat-icon>
                                    </button>
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users; let i = index">
                                    <td>{{i}}</td>
                                    <td>{{user.lastName}} {{user.firstName}} {{user.middleName}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.phoneNumber}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>