<div class="main-content">



        <mat-tab-group>
            <mat-tab label="Пользователь">
                      <div class="col-md-8" style="margin-top: 30px;" class="100%;">
                          <div class="card" >
                              <div class="card-header card-header-danger">
                                  <h4 class="card-title">Редактировать профиль</h4>
                                  <p class="card-category"></p>
                              </div>
                              <div class="card-body">
                                  <form *ngIf="user">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Username" [(ngModel)]="user.username" name="username">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email address" type="email" [(ngModel)]="user.email" name="email">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Fist Name" type="text" maxlength="64" [(ngModel)]="user.firstName" name="firstName">
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Last Name" type="text" maxlength="64" [(ngModel)]="user.lastName" name="lastName">
                                            </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Middle name" type="text" maxlength="64" [(ngModel)]="user.middleName" name="middleName">
                                            </mat-form-field>
                                          </div>

                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Phone number" type="number" [(ngModel)]="user.phoneNumber" name="phoneNumber">
                                              </mat-form-field>
                                          </div>

                                      </div>



                                      <button (click)="editUser(user)" mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                                      <div class="clearfix"></div>
                                  </form>
                              </div>
                          </div>
                      </div>
            </mat-tab>




            <mat-tab label="Сервисная книжка">
                <app-service-book></app-service-book>
            </mat-tab>
        </mat-tab-group>
</div>
