<div class="main-content">
        <mat-tab-group>
            <mat-tab label="Пользователь">
                      <div class="col-md-8" style="margin-top: 30px;" class="100%;">
                          <div class="card" >
                              <div class="card-header card-header-danger">
                                  <h4 class="card-title">Редактировать профиль</h4>
                                  <p class="card-category"></p>
                              </div>
                              <div class="card-body">
                                  <form *ngIf="user">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Username" [(ngModel)]="user.username" name="username">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput type="email" placeholder="Email address" [(ngModel)]="user.email" name="email" [formControl]="emailFormControl">
                                                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                      Please enter a valid email address
                                                  </mat-error>
                                                  <mat-error *ngIf="emailFormControl.hasError('required')">
                                                      Email is <strong>required</strong>
                                                  </mat-error>

                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput #FirstName maxlength="64" placeholder="Fist Name" type="text" [(ngModel)]="user.firstName" name="firstName">
                                              <mat-hint align="end">{{FirstName.value.length}} / 64</mat-hint>
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput #LastName maxlength="64" placeholder="Last Name" type="text" [(ngModel)]="user.lastName" name="lastName">
                                              <mat-hint align="end">{{LastName.value.length}} / 64</mat-hint>
                                            </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput #MidName maxlength="64" placeholder="Middle name" type="text" [(ngModel)]="user.middleName" name="middleName">
                                              <mat-hint align="end">{{MidName.value.length}} / 64</mat-hint>
                                            </mat-form-field>
                                          </div>

                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <span matPrefix>+7 &nbsp;</span>
                                                  <input type="tel" matInput #PhoneNumber maxlength="10" minlength="10" placeholder="Phone number" [(ngModel)]="user.phoneNumber" name="phoneNumber">
                                                  <mat-hint align="end">{{PhoneNumber.value.length}} / 10</mat-hint>
                                              </mat-form-field>
                                          </div>

                                      </div>



                                      <button (click)="editUser(user)" mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                                      <div class="clearfix"></div>
                                  </form>
                              </div>
                          </div>
                      </div>
            </mat-tab>
            <mat-tab label="Сервисная книжка">
                <app-service-book></app-service-book>
            </mat-tab>
        </mat-tab-group>
</div>
