<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>

  <mat-form-field class="outline">
    <input placeholder="Код" type="text" matInput [(ngModel)]="data.role.code">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Название на русском" type="text" matInput [(ngModel)]="data.role.nameRu">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Название на казахском" type="text" matInput [(ngModel)]="data.role.nameKz">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Название на английском" type="text" matInput [(ngModel)]="data.role.nameEn">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Закрыть</button>
  <button mat-button [mat-dialog-close]="data.role" cdkFocusInitial>Сохранить</button>
</div>