<div class="main-content">
    <div class="container-fluid">
        <button mat-raised-button color="primary" [routerLink]="'/service_maintenance'">
            <mat-icon>arrow_back</mat-icon> Назад
        </button><br><br>
        <div>
            <img src="https://pp.userapi.com/c638018/v638018279/56510/iHL2fii8lMk.jpg" class="service_image"/>
            <div class="content">
                <h1>{{serviceMaintenance.name}}</h1>
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
            <br><br><br>
        </div>
        <div>
            <h2>Основная информация</h2>
            <p>{{serviceMaintenance.description}}</p>
        </div>
        <div>
            <h3>Адрес</h3>
            <p>{{serviceMaintenance.address}}</p>
        </div>
        <div>
            <h3>Контакты</h3>
            <p>{{serviceMaintenance.phoneNumber}}</p>
        </div>
    </div>
</div>