<div class="main-content">
  <div class="container-fluid">


      <div class="margin-search bg-light text-dark">
      <div class="container">
          <div class="h2">
              <h2><b>БЕСПЛАТНЫЙ СЕРВИС ПО ПОИСКУ СТО</b></h2>
          </div>
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Поиск...">
              <span class="input-group-btn">
        <button class="btn btn-search " type="button"><i class="fa fa-search fa-fw"></i> Поиск</button>
              </span>
          </div>

          <h3 class="font-weight-bold"><i class="material-icons">build</i><b> 1345</b> СТО работают с нами</h3>
          <h3 class="font-weight-bold"><i class="material-icons">book</i><b> 2367</b> Реальных сервисных книжек</h3>
          <h3 class="font-weight-bold"><i class="material-icons">feedback</i><b> 6500</b> Реальных отзывов</h3>

          <h3><b>Найти проверенный СТО - Легко!</b></h3>



      </div>
  </div>



      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">settings</i>
                      </div>




                      <p class="card-category">Рейтинг СТО</p>
                      <h3 class="card-title">1345
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">work</i>
                      </div>
                      <p class="card-category">Классы</p>
                      <h3 class="card-title">15 вид</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">textsms</i>
                      </div>
                      <p class="card-category">Отзывы о СТО</p>
                      <h3 class="card-title">750</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">verified_user</i>
                      </div>
                      <p class="card-category">Онлайн</p>
                      <h3 class="card-title">Сервис</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">СТО "Алматы-Сервис"</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Положительных отзывов </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">СТО "CALIFORNIA"</h4>
                      <p class="card-category">
                      <span class="text-success"><i class="fa fa-long-arrow-up"></i> 37% </span> Положительных отзывов </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">CТО "DACAR"</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 13% </span> Положительных отзывов </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


